.controls-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 1rem 0;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #ddd;
    z-index: 10;  
    overflow: hidden;              
}

.fill-container {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.controls-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*gap: 0.4rem;*/
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    height: 50px;
    padding-top: 0;
}

.controls-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #007bff;
}

.chart-svg {                    
    position: relative;
    display: block;
}