.legend, .legend-active {
    display: flex;
    align-items: center;
    min-width: 14px;
    height: 16px;
    gap: 8px;
    position: absolute;
    cursor: pointer;
}

.legend-rect {
    width: 14px;
    height: 14px;
    border-radius: 4px;
}

.legend-active .legend-rect {
    border: 1.5px solid #3b82f6;
}

.pieSlice {
    stroke: aliceblue;
    stroke-width: 0.25;
}

.pieSliceNotHovered {
    stroke: aliceblue;
    stroke-width: 2;
    animation-name: animateNotHovered;
    animation-duration: 0.5s;    
    animation-fill-mode: forwards; 
}

@keyframes animateNotHovered {
    from {opacity: 1;}
    to {opacity: 0.55;}
}
.pieSliceExit {
    stroke: aliceblue;
    stroke-width: 0.25;
    pointer-events: none;        
    animation-name: animateHide;
    animation-duration: 1s;    
    animation-fill-mode: forwards; 
}

.pieLabelEnter {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 rgb(238, 244, 238), 1px 0 0 rgb(238, 244, 238), -1px 0 0 rgb(238, 244, 238), 0 -1px 0 rgb(238, 244, 238);
    pointer-events: none;
    opacity: 0;    
    animation-name: showText;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;    
}

.pieLabelUnhover {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 rgb(238, 244, 238), 1px 0 0 rgb(238, 244, 238), -1px 0 0 rgb(238, 244, 238), 0 -1px 0 rgb(238, 244, 238);
    pointer-events: none;        
    animation-name: showText;
    animation-duration: 1s;    
    animation-fill-mode: forwards;    
}

@keyframes showText {
    from {opacity: 0;}
    to {opacity: 1;}
}

.pieLabelUpdate {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 rgb(238, 244, 238), 1px 0 0 rgb(238, 244, 238), -1px 0 0 rgb(238, 244, 238), 0 -1px 0 rgb(238, 244, 238);
    pointer-events: none;
}

.pieLabelExit {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 rgb(238, 244, 238), 1px 0 0 rgb(238, 244, 238), -1px 0 0 rgb(238, 244, 238), 0 -1px 0 rgb(238, 244, 238);
    pointer-events: none;        
    animation-name: animateHide;
    animation-duration: 0.25s;    
    animation-fill-mode: forwards;    
}

@keyframes animateHide {
    from {opacity: 1;}
    to {opacity: 0;}
}