.legends-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;    
    padding: 0 8px;
    height: 53px;  

    scrollbar-width: thin;       /* Firefox */
    -webkit-overflow-scrolling: touch;
}

/* WebKit scrollbar styling (optional) */
.legends-container::-webkit-scrollbar {
    height: 6px;
}

.legends-container::-webkit-scrollbar-track {
    background: transparent;
}

.legends-container::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 3px;
}

.legend-container, .legend-container-active, .legend-container-inactive {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: flex-start;    
    cursor: pointer;
    border:'1px solid #ccc';
    width: 80px; /* fixed width to enforce alignment */
    height: 53px;
    text-align: center;
    
    position: absolute;
}

.legend-container, .legend-container-inactive {
    padding-top: 3px;
}

.legend-container-active {
    padding-top: 1px;
}

.legend-rect {
    border-radius: 4px;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;    
    transition: all 0.2s ease-in-out;
}

.legend-label {    
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  /* styles for tablets and up */
  .legend-label {
    white-space: normal;        /* allow line breaks */
    word-break: break-word;     /* break long words if needed */
    font-size: 0.85rem;    
  }
}

.legend-container:hover .legend-label {
    font-weight: 600;
}

.legend-container:hover .legend-rect {
    width: 18px;
    height: 18px;
    border: 1px solid #007bff;
}

.legend-container-active .legend-rect {
    border: 2px solid #007bff;    
    width: 18px;
    height: 18px;
}

.legend-container-active .legend-label {
    font-weight: 700;
}

.rect, .rectCard {
    stroke-width: 1;
    stroke: #0d9488;
    
}

.rectLegendNotHovered {
    stroke-width: 0;
}

.legend, .rectCard, .legend {
    transition: stroke-width;
    transition-duration: 0.25s;
}

.rect:hover{
    stroke-width: 1.5;
    
}

.rectCard:hover, .legend:hover {
    stroke-width: 1;
}

.rect:hover, .rectCard:hover, .legend:hover, .rectHoveredLegend {
    stroke: #3f3f46;
    stroke-dasharray: none;
}

.rectCardLegendHovered {
    stroke: #3f3f46;
    stroke-width: 1;
    stroke-dasharray: none;
}

.rectLegendHovered {
    stroke: #3f3f46;
    stroke-width: 1.5;
    stroke-dasharray: none;
}

.rotatedAxisText {
    text-anchor: start;
    transform: rotate(25deg);
}

.axisText {
    text-anchor: middle;
    transform: rotate(0deg);
}

.hoveredAxisText {
    font-weight: bold;
}

/*
Special classes for normalized stacked
*/
.yAxisLabel {
    font: normal 14px Roboto;
    fill: #0891b2;
}

