.country, .state {
    fill: #69b3a2;
    stroke: #fff;
    transition: all;
    transition-duration: .25s;
    cursor: pointer;
}

.country:hover, .state:hover {
    fill: #14b8a6;
}

.heatmap-country {
    stroke: #022c22;
    transition: all;
    transition-duration: .25s;
    cursor: pointer;
}

.heatLvl1 {
    fill: #fed7aa;
}

.heatLvl2 {
    fill: #fdba74;
}

.heatLvl3 {
    fill: #fb923c;
}

.heatLvl4 {
    fill: #f97316;
}

.heatLvl5 {
    fill: #ea580c;
}

.heatLvl6 {
    fill: #c2410c;
}

.heatLvl7 {
    fill: #9a3412;
}

.heatLvl8 {
    fill: #7c2d12;
}

.heatLvl9 {
    fill: #431407;
}

.heatmap-country:hover {
    stroke: #10b981;
}

.selected {
    fill: #0d9488;
    stroke: #e4e4e7;
}

.label {
    text-anchor: middle;
    text-shadow: 0 1px 0 #f8fafc, 1px 0 0 #f8fafc, -1px 0 0 #f8fafc, 0 -1px 0 #f8fafc;    
    pointer-events: none;    
}