.legend{    
    stroke-width: 0;    
    cursor: pointer;
}

.rect, .rectCard {
    stroke-width: 1;
    stroke: #0d9488;
    
}

.rectLegendNotHovered {
    stroke-width: 0;
}

.legend, .rectCard, .legend {
    transition: stroke-width;
    transition-duration: 0.25s;
}

.rect:hover{
    stroke-width: 1.5;
    
}

.rectCard:hover, .legend:hover {
    stroke-width: 1;
}

.rect:hover, .rectCard:hover, .legend:hover {
    stroke: #3f3f46;
    stroke-dasharray: none;
}

.rectCardLegendHovered {
    stroke: #3f3f46;
    stroke-width: 1;
}

.rectLegendHovered {
    stroke: #3f3f46;
    stroke-width: 1.5;
}

.rotatedAxisText {
    text-anchor: start;
    transform: rotate(25deg);
}

.axisText {
    text-anchor: middle;
    transform: rotate(0deg);
}

.hoveredAxisText {
    font-weight: bold;
}

/*
Special classes for normalized stacked
*/
.yAxisLabel {
    font: normal 14px Roboto;
    fill: #0891b2;
}

